.form-group {
  position: relative;
  margin: 20px 0 100px 0;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  z-index: 1;
  input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 14px;
  }
  .btn-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    .button {
      margin: 20px 0 0 10px;
      text-transform: uppercase;
      justify-content: flex-end;
      padding: 0 50px;
      background-color: #000000;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      border: none;
      box-shadow: none;
      border-radius: .25rem;
      outline: none;
      &:disabled {
        opacity: .2;
      }
    }
  }
}
